body{
    margin:0px;
    padding:0px;
    font-family:verdana, sans-serif;
    font-size:16px;
    color:#4d4d4d;
}

#container{
    width: 1000px;
    margin: 0px auto;
    border: 1px solid;
}

#container div{
    margin: 5px 0px 0px 0px;
}

input{
    width: 200px;
    font-size : 14px;
}

optgroup{
    font-size : 14px;
}

input.job_name{
    width: 250px;
}

input.parameter{
    width: 150px;
}

input.expression{
    width: 150px;
}

.button{
    width: 100px;
    font-size : 14px;
}

.button-in-td {
 float: left;
 margin-right: 5px;
}

.modal-body {
    max-height: calc(100vh - 200px) !important;
    overflow-y: auto !important;
}

.modal-dialog {
    overflow-y: initial !important;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#facilityName{
    width:13em;
    word-wrap: break-word;
}
#template{
     margin-top: 20px;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

#printButton{
  background-color : #c5bb83;
  color : white;
}

#closeButton{
    background-color : #bababa;
    color : white;
}

#visitWithCount{
    width:inherit;
}

.dateInput {
    width: 150px;
}

.number {
    width: 40px;
}