body{
    margin:0px;
    padding:0px;
    font-family:verdana, sans-serif;
    font-size:16px;
    color:#4d4d4d;
}

#container{
    width: 1000px;
    margin: 0px auto;
    border: 1px solid;
}

#container div{
    margin: 5px 0px 0px 0px;
}

input{
    width: 200px;
    font-size : 14px;
}

optgroup{
    font-size : 14px;
}

input.job_name{
    width: 250px;
}

input.parameter{
    width: 150px;
}

input.expression{
    width: 150px;
}

.button{
    width: 100px;
    font-size : 14px;
}

.button-in-td {
 float: left;
 margin-right: 5px;
}