<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="text-center" th:text="${data.datasetName}"></h2>
            <h3 class="text-center" th:text="${data.facilityName}"></h3>
            <h3 class="text-center" th:text="${data.reportPeriod}"></h3>
        </div>
        <table id = "reportPreview" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody th:each="row : ${data.results}">
            <tr>
                <td th:text="${row.key}"></td>
                <td th:each="val : ${row.value}" th:text="${val.v1}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>