<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/mustache.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/scripts/bootstrap-datepicker.js"></script>
    <script src="/scripts/reportScheduleOptions.js"></script>
    <script type = "text/javascript">
        $( document ).ready(function() {
            var scheduleOptions = new ReportScheduleOptions();

        });
    </script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#createScheduledJobs" id="tabCreateScheduledJobs">Schedule</a></li>
        <li><a data-toggle="tab" href="#viewScheduledJobs" id="tabViewScheduledJobs">Status</a></li>
    </ul>

    <div class="tab-content">
        <div id="createScheduledJobs" class="tab-pane fade in active">
            <div>
                <h3 th:text="'Schedule Dataset for:'+ ${reportConfig.datasetName}"></h3>
            </div>
            <div th:if="!${orgUnits.isEmpty()}">
                <h4>Select Facilities and schedule submission</h4>

                <form role="form" method="post" id="reportScheduleForm">
                    <div id="formErrors" class="alert alert-danger" role="alert" th:classappend="${formErrors != null} ? show : hidden"
                         th:each="errorMessage : ${formErrors}">
                        <span th:text="${errorMessage}">Error Occurred</span>.
                    </div>
                    <div class="checkbox" th:each="org: ${orgUnits}">
                        <label>
                            <input type="checkbox" name="selectedFacilities" th:value="${org.facilityId}" th:attr="data-orgunit=${org.orgUnitId}"/>
                            <span th:utext="${org.facilityName}">name</span>
                        </label>
                    </div>
                    <input id="datasetIdEl" name="datasetId" type="hidden" th:value="${reportConfig.datasetId}" />
                    <input name="datasetName" type="hidden" th:value="${reportConfig.datasetName}" />

                    <div class="form-group">
                        <label class="radio-inline"><input type="radio" name="scheduleType" value="once" checked="checked"/>One time</label>
                        <label class="radio-inline"><input type="radio" name="scheduleType" value="repeat" disabled="disabled" />Recurring</label>
                    </div>


                    <div class="form-group">
                        <label for="periodType" class="control-label col-xs-2">Period</label>
                        <div class="col-xs-10">
                            <select id="periodType" name="periodType" class="form-control" th:disabled="${supportedPeriodTypes.contains(reportConfig.periodType)}">
                                <option th:each="supportedPeriod : ${supportedPeriodTypes}"
                                        th:value="${supportedPeriod}" th:text="${supportedPeriod}" th:selected="${supportedPeriod.equals(reportConfig.periodType)}">
                                    Daily
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="control-label col-xs-2">Select Date</label>
                        <div class="col-xs-6">
                            <input id="startDate" name="startDate" type="text" class="form-control startDate datepicker" placeholder="Enter a date"/>
                        </div>
                        <div class="col-xs-4">
                            <span id="reportingPeriod" name="reportingPeriod"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-info" value="Submit"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div id="viewScheduledJobs" class="tab-pane fade">
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span>Click the refresh button to view status</span>
                        <span class="input-group-btn">
                            <button id="loadScheduleStatus" class="btn btn-default" type="button">Refresh</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container" id="scheduledJobStatus">
                    <table id="reportScheduleStatus" class="table">
                        <thead>
                            <tr>
                                <th>Facility Name</th>
                                <th>Reporting Period</th>
                                <th>Prev Fire Time</th>
                                <th>Next Fire Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script id="template_scheduled_jobs_results" type="x-tmpl-mustache">
    {{#.}}
         <tr>
            <td>{{ facilityId }}</td>
            <td>{{ period }}</td>
            <td>{{ prevFireTime }}</td>
            <td>{{ nextFireTime }}</td>
         </tr>
    {{/.}}
</script>


</div>

<div class="container">
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>

