<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var toggleFacilityDetails = function(facilityId, show) {
            var tableId = "facility-table-" + facilityId;
            var viewButtonId = "view-facility-" + facilityId;
            var closeButtonId = "close-facility-" + facilityId;
            if(!show) {
                $("#" + tableId).prop("hidden", true);
                $("#" + closeButtonId).prop("hidden", true);
                $("#" + viewButtonId).prop("hidden", false);
            } else {
                $("#" + tableId).prop("hidden", false);
                $("#" + viewButtonId).prop("hidden", true);
                $("#" + closeButtonId).prop("hidden", false);
            }
        };
    </script>
</head>
<body>
<div class="container">
    <div>
        <h2 class="text-center" th:text="${datasetName}"></h2>

        <h3 class="text-center" th:text="${reportPeriod}"></h3>
    </div>
    <div>
        <table class="table table-hover">
            <tbody>
            <tr th:each="report: ${reports}">
                <td>
                    <div>
                        <label style="color:#6495ED" th:text="${report.facilityName}"/>
                        <img src="/images/down_arrow.png" alt="View Details" class="button-in-td"
                             th:id="'view-facility-'+${report.facilityId}"
                             th:onclick="'toggleFacilityDetails(\''+${report.facilityId}+'\', true);'"/>
                        <img src="/images/up_arrow.png" alt="Close" class="button-in-td"
                             th:id="'close-facility-'+${report.facilityId}"
                             th:onclick="'toggleFacilityDetails(\''+${report.facilityId}+'\', false);'" hidden="true"/>
                    </div>
                    <div>
                        <table th:id="'facility-table-'+${report.facilityId}" class="table table-bordered"
                               hidden="true">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${report.results}">
                                <td th:text="${row.key}"></td>
                                <td th:each="val : ${row.value}" th:text="${val.v1}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>