<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/dhisSearch.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <div th:if="!${availableReports.isEmpty()}">
        <h2>Available Reports</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Report to Submit</th>
                <th>Dataset Name</th>
                <th style="text-align: center;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${report.datasetName}? 'success' : 'info' " th:each="report: ${availableReports}">
                <td class="col-md-5" th:text="${report.name}">Configuration name</td>
                <td class="col-md-5"
                    th:text="${report.datasetId} != null ? ${report.datasetName} + ' (' + ${report.datasetId} + ')' : ''">
                    Dataset Name
                </td>
                <td class="col-md-2">
                    <div class="col-sm-4">
                        <a th:classappend="${report.datasetName}? 'show' : 'hidden' "
                           th:href="|/dhis2/reports/schedule/${report.id}|">
                            <img src="/images/schedule.png" alt="Schedule Report" title="Schedule Report"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a th:href="|/dhis2/reports/configure?reportName=${report.name}|">
                            <img src="/images/configure.png" alt="Configure Mapping" title="Configure Mapping"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a th:classappend="${report.datasetName}? 'show' : 'hidden' "
                           th:href="|/dhis2/reports/reset?reportId=${report.id}|">
                            <img src="/images/trash.png" alt="Delete Mapping" title="Delete Mapping"/>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>