<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/mustache.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/spinner.js"/>
    <script src="/scripts/error.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/facilityInfo.js"/>
    <script type="text/javascript" th:inline="javascript">
        $( document ).ready(function() {
            var facilityInfo = new FacilityInformations();
            $("#searchTxt").keyup(function(event){
                if(event.keyCode == 13){
                    $("#searchBtn").click();
                }
            });
            $("#searchBtn").click(function() {
                var searchText = $("#searchTxt").val();
                searchFacility(searchText);
            });
        });
    </script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <div class="tab-content">
        <form role="form" method="post" id="facilityInfoForm">
            <div></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Search for facility by</h2>
                    <div class="form-group">
                        <label class="radio-inline"><input type="radio" name="searchBy" value="FacilityName"/>Facility Name</label>
                        <label class="radio-inline"><input type="radio" name="searchBy"
                                                           value="FacilityId"/>Facility Id</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input id="searchTxt" type="text" class="form-control"
                                       placeholder="Please type in the Facility Name or Facility Id..."/>
                    <span class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:include="fragments/error :: error"/>
            <div class="panel panel-default" id="avalilableFacilities" hidden="true">
                <div class="panel-body">
                    <div>
                        <h3>Search results</h3>
                        <div class="form-group" id="searchResultsContainerForFacility" >
                        </div>
                    </div>
                    <div></div>
                    <div class="form-group" hidden="true" id="submitButton">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" name="Submit" id="submit" class="btn btn-info" value="Show last encounter date"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="lastEncounter" hidden="true">
                <div class="panel-body">
                    <div>
                        <div id="searchResultsLastEncounter" class="search-results">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<script class="form-group" id="template_search_facilities" type="x-tmpl-mustache">
    {{#.}}
    <label class="radio-inline">
    <input type="radio" name="selectedFacilities" id="{{facilityName}}" value="{{facilityId}}">{{facilityName}}</input>
    </label>
    {{/.}}

</script>
<script id="template_search_lastencounter" type="x-tmpl-mustache">
    {{#.}}
        Last encounter date and time for {{facilityName}}({{facilityId}}) is {{encounterDate}}
    {{/.}}
</script>

</body>
</html>