<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css.map"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/mustache.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/bootstrap-datepicker.js"></script>
    <script src="/scripts/error.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/spinner.js"/>
    <script src="/scripts/facilityInfo.js"/>
    <script type="text/javascript" th:inline="javascript">
        $( document ).ready(function() {
            var facilityInfo = new FacilityInformations();
        });
    </script>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <div class="tab-content">
        <div class="panel panel-default panel-body">
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="searchBy" value="FacilityId" checked="checked"/>
                    Facility Id</label>
                <label class="radio-inline">
                    <input type="radio" name="searchBy" value="FacilityName"/>
                    Facility Name</label>
            </div>
            <div class="col-lg-6 input-group">
                <input id="searchTxt" type="text" class="form-control"
                       placeholder="Search for Facility"/>
                    <span class="input-group-btn">
                        <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
        </div>
        <div th:include="fragments/error :: error"/>
        <div id="searchResult" hidden="true">
            <h3><span>Results</span></h3>
            <div class="form-group" id="searchResultsContainerForFacility">
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script id="template_search_facilities" type="x-tmpl-mustache">
    {{#.}}
        <div class="">
        <label>
        <a name="selectedFacilities" id="{{facilityId}}" href="/facility/{{facilityId}}/dashboard">{{facilityName}}</a>
        </label>
        </div>
    {{/.}}
</script>
</body>
</html>