<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css.map"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/mustache.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/spinner.js"/>
    <script src="/scripts/bootstrap-datepicker.js"></script>
    <script src="/scripts/error.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/facilityDashboard.js"/>
    <script type="text/javascript" th:inline="javascript">
        $( document ).ready(function() {
            var facilityDashboard = new FacilityInformation([[${facility.facilityId}]], [[${facility.facilityName}]]);
        });
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <h3><span th:text="|${facility.facilityName}(${facility.facilityId})|"></span></h3>

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <span>Last encounter date and time is  </span>
                <b>
                    <mark><span id="lastEncounterDate" th:text="${lastEncounterDate}"/></mark>
                </b>
            </p>
        </div>
    </div>
    <div class="panel-group" id="facilityInformation">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <p class="col-xs-10">
                        <span>Datewise visits for facility: </span>
                        <span>Select Date
                        <input id="visitDate" name="startDate" type="text"
                               class="startDate datepicker dateInput" readonly="true"
                               placeholder="Enter a date"/>
                        </span>
                    </p>
                    <button id="getVisitTypeButton" class="btn btn-info" disabled="true">Submit</button>
                </div>
                <hr/>
                <div>
                    <p class="col-xs-10">
                        <span>Encounters occurred in facility:</span>
                        <span>Select start date
                            <input id="encounterStartDate" name="startDate" type="text"
                                   class="startDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                        <span>end date
                            <input id="encounterEndDate" name="endDate" type="text"
                                   class="endDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                    </p>
                    <button id="getEncounterTypesWithCountButton" class="btn btn-info" disabled="true">Submit</button>
                </div>
                <hr/>
                <div>
                    <p class="col-xs-10">
                        <span>Diagnoses posted by facility:</span>
                        <span>Select start date
                            <input id="diagnosisStartDate" name="startDate" type="text"
                                   class="startDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                        <span>end date
                            <input id="diagnosisEndDate" name="endDate" type="text"
                                   class="endDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                    </p>
                    <button id="getDiagnosisWithCountButton" class="btn btn-info" disabled="true">Submit</button>
                </div>
                <hr/>
                <div>
                    <p class="col-xs-10">
                        <span>Drugs prescribed by facility:</span>
                        <span>Select start date
                            <input id="drugStartDate" name="startDate" type="text"
                                   class="startDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                        <span>end date
                            <input id="drugEndDate" name="endDate" type="text"
                                   class="endDate datepicker dateInput"
                                   placeholder="Enter a date" readonly='true'/>
                        </span>
                    </p>
                    <button id="getDrugsWithCountButton" class="btn btn-info" disabled="true">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="visitWithCount" hidden="true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Types of visits for </span>
                    <span id="dateSelectedForVisitType"></span>
                </h4>
            </div>
            <div class="panel-body">
                <table id="visitTypeWithCount" class="table">
                    <thead>
                    <tr>
                        <th>Visit type</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-group" id="getDiagnosisWithCount" hidden="true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Diagnoses posted by facility for </span>
                    <span id="dateRangeSelectedForDiagnosis"></span>
                </h4>
            </div>
            <div class="panel-body">
                <table id="diagnosisNameWithCount" class="table">
                    <thead>
                    <tr>
                        <th>Diagnosis Name</th>
                        <th>ICD10 Code</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-group" id="encounterTypesWithCount" hidden="true">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Types of encounters for </span>
                    <span id="dateSelectedForEncounterType"></span>
                </h4>
            </div>
            <div class="panel-body">
                <table id="encounterWithCount" class="table">
                    <thead>
                    <tr>
                        <th>Encounter type</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-group" id="prescribedDrugs" hidden="true">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Types of prescribed drugs for </span>
                    <span id="dateSelectedForprescribedDrugs"></span>
                </h4>
            </div>
            <div class="panel-body">
                <div id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#codedDrug" aria-expanded="true" aria-controls="codedDrug">
                                    <span>Coded drugs</span>
                                    <span id="DrugCount"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="codedDrug" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <table id="CodedDrugs" class="table">
                                <thead>
                                <tr>
                                    <th>Trade name</th>
                                    <th>Generic name</th>
                                    <th>Reference code</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#nonCodedDrug" aria-expanded="true" aria-controls="nonCodedDrug">
                                    <span>Non-coded drugs</span>
                                    <span id="freetextCount"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="nonCodedDrug" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <table id="nonCodedDrugs" class="table">
                                <thead>
                                <tr>
                                    <th>Trade name</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:include="fragments/error :: error"/>
</div>

<script id="template_date_selected_for_visit" type="x-tmpl-mustache">
    {{#.}}
        {{date}}
    {{/.}}
</script>

<script id="template_for_selected_date_range" type="x-tmpl-mustache">
    {{#.}}
        {{startDate}} to {{endDate}}
    {{/.}}
</script>

<script id="template_facility_name" type="x-tmpl-mustache">
    {{#.}}
        {{facilityName}}({{facilityId}})
    {{/.}}
</script>

<script id="template_visit_type_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td>{{ visit_type }}</td>
                <td>{{ num }}</td>
             </tr>
        {{/.}}
</script>

<script id="template_encounter_type_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td>{{ encounter_type }}</td>
                <td>{{ count }}</td>
             </tr>
        {{/.}}
</script>
<script id="template_noncoded_drug_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td>{{ drug }}</td>
                <td>{{ count }}</td>
             </tr>
        {{/.}}
</script>
<script id="template_coded_drug_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td class="col-md-3">{{ drug_name }}</td>
                <td class="col-md-4">{{ concept_name }}</td>
                <td class="col-md-4">
                    {{^reference_term_name}}
                        No reference code mapping
                    {{/reference_term_name}}
                    {{#reference_term_name}}
                        {{ reference_term_name }}({{reference_term_code}})
                    {{/reference_term_name}}
                </td>
                <td class="col-md-1">{{ count }}</td>
             </tr>
        {{/.}}
</script>

<script id="template_diagnosis_name_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td>{{ diagnosis_name }}</td>
                <td>{{ code }}</td>
                <td>{{ count }}</td>
             </tr>
        {{/.}}
</script>
<script id="template_drug_count" type="x-tmpl-mustache">
    {{#.}}
        ({{count}})
    {{/.}}
</script>
</body>
</html>