<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css.map"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/mustache.min.js"></script>
    <script src="/scripts/script.js"/>
    <script src="/scripts/spinner.js"/>
    <script src="/scripts/bootstrap-datepicker.js"></script>
    <script src="/scripts/error.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/facilityInfo.js"/>
    <script type="text/javascript" th:inline="javascript">
        $( document ).ready(function() {
            var facilityInfo = new FacilityInformations();
        });

    </script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h2>&nbsp;</h2>
    </div>
    <div class="tab-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Search for facility by</h2>

                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="searchBy" value="FacilityId" checked="checked"/>
                        Facility Id</label>
                    <label class="radio-inline">
                        <input type="radio" name="searchBy" value="FacilityName"/>
                        Facility Name</label>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="searchTxt" type="text" class="form-control"
                                   placeholder="Enter Facility Id or Facility Name"/>
                    <span class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/error :: error"/>
        <div class="panel panel-default" id="avalilableFacilities" hidden="true">
            <div class="panel-body">
                <div>
                    <h3>Available Facilities</h3>

                    <div class="form-group" id="searchResultsContainerForFacility">
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="panel-group" id="accordion" hidden="true">
            <div class="panel panel-default">
                <div class="panel-heading" id="lastEncounterDate">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Last encounter date</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default" id="lastEncounter" hidden="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Datewise visits for facility</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="visitDate" class="control-label col-sm-2">Select Date:</label>
                            <input id="visitDate" name="startDate" type="text"
                                   class="form-control startDate datepicker dateInput"
                                   placeholder="Enter a date"/>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div id="getVisitTypeButton" hidden="true">
                                    <button id="getVisitType" class="btn btn-info">->
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container" id="visitWithCount" hidden="true">
                            <table id="visitTypeWithCount" class="table">
                                <thead>
                                <tr>
                                    <th>Visit type</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="errorBlock1" hidden="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
<script id="template_search_facilities" type="x-tmpl-mustache">
    {{#.}}
        <div class="radio">
        <label>
        <input type="radio" name="selectedFacilities" id="{{facilityName}}" value="{{facilityId}}">{{facilityName}}</input>
        </label>
        </div>
    {{/.}}




</script>
<script id="template_search_lastencounter" type="x-tmpl-mustache">
    {{#.}}
        Last encounter date and time for {{facilityName}}({{facilityId}}) is {{encounterDate}}
    {{/.}}


</script>
<script id="template_visit_type_with_count" type="x-tmpl-mustache">
        {{#.}}
             <tr>
                <td>{{ visit_type }}</td>
                <td>{{ num }}</td>
             </tr>
        {{/.}}



</script>
</body>
</html>