<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/scripts/jquery-2.1.3.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>dataSense</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">DHIS 2</a></li>
        <li><a data-toggle="tab" href="#menuAbout">About</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>DHIS2 Intregration</h3>
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="active"><a href="/dhis2/reports">Manage Reports</a></li>
                <li class="active"><a href="/dhis2/orgUnits">Manage Facilities</a></li>
                <li class="active"><a href="/dhis2/orgUnits/config">Facility Information</a></li>
                <li class="active"><a href="/config/parameters">Manage Parameters</a></li>
                <li class="active"><a href="/dhis2/dataSets/templates">Templates</a></li>
            </ul>
        </div>
        <div id="menuAbout" class="tab-pane fade">
            <h3>Hello there</h3>
            <p>Welcome to DataSense Admin Console. DataSense is one of the subsystems in HIE, processing information from SHR by catchment(s).</p>
        </div>
    </div>
</div>

<div class="container">
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>